:root {
    --branco: #ffffff;
    --cinza: #808080;
    --azul-claro: #bae4fd;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fefff8 ;
    color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    box-shadow: 0px 10px 10px 5px rgba(145, 145, 145, 0.3);
}

img {
    max-width: 200px;
    padding: 0px;
    border-radius: 10px;
}

h2 {
    color: rgb(20, 59, 98);
    max-width: 180px;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
}

h3 {
    max-width: 180px;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    font-weight: normal;
}

.back {
    background-color: rgb(227, 234, 242);
    width: 1040px;
    height: 450px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 5px rgba(145, 145, 145, 0.3);
}

@import url('https://fonts.googleapis.com/css?family=Nunito:200');

a {
    background-color: #051e4f;
    background-image: linear-gradient(45deg, #33d9de 0%, #7bd7da 55%, #4087d9 90%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    border-radius: 50px;
    padding: 5px 30px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: all 1.5s ease;
    margin-left: 40px;
  }
  
  a:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }